#app {
  height: 100%;
}

body {
  font-family: "Raleway", Helvetica, Arial MS, sans-serif;
  color: #ffffff;
  font-weight: 200;
  font-size: 12px;
  background-color: black;
  scroll-behavior: auto;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}